body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

header {
    background: #004080;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#logo {
    max-width: 100px;
}

nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    
    color: white;
    text-decoration: none;
}

.imagem_destaque img {
    width: 100%;
    height: auto;
}

#banner {
    background: #004080;
    padding: 20px 0;
    text-align: center;
}

h2{
    color: #0052cc;
    font-size: 30px;
    text-align: center;
}

h3 {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

p {
    margin: 5px 0;
    text-align: center;
    text-decoration: underline;
}

footer {
    background: #0052cc;
    color: white;
    text-align: center;
    padding: 10px 0;
}


/* mapa */

.map-section {
    text-align: center;
    margin: auto;
}

.map-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; /* Mantém a proporção do mapa */
    border: 0;
}

/* Responsividade */
@media  (min-width: 768px) {
    
    iframe {
        max-width: 700px; /* Tamanho máximo para telas maiores */
        height: 500px;
    }
}

@media (max-width: 768px) {
    nav ul li a{
        display: block;
    }
    iframe {
        height: 300px; /* Ajuste da altura em telas menores */
    }

    .map-section h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    iframe {
        height: 200px;
    }

    .map-section h2 {
        font-size: 1rem;
    }
}








